<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.approfisso">

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APProfissão">
        <activity
            android:name=".activity.Principal"
            android:exported="true" />

        <activity
            android:name=".activity.CadastroActivity"
            android:exported="false" />
        <activity android:name=".activity.cadastro_cliente" />

        <activity android:name=".activity.CadastroFuncaoActivity" />

        <activity android:name=".activity.cliente_cadastrado" />
        <activity android:name=".activity.servico_cadastrado" />
        <activity android:name=".activity.funcionario_cadastrado" />
        <activity android:name=".activity.agendamento_cadastrado" />
        <activity android:name=".activity.funcao_cadastrado" />
        <activity android:name=".activity.cadastro_servico" />
        <activity android:name=".activity.cadastro_agendamento" />
        <activity android:name=".activity.cadastro_funcionario" />
        <activity android:name=".activity.cadastro_funcao" />
        <activity android:name=".activity.Update_agendamento" />
        <activity android:name=".activity.cadastro_cliente_editar" />
        <activity android:name=".activity.cadastro_funcao_editar" />
        <activity android:name=".activity.cadastro_servico_editar" />
        <activity android:name=".activity.cadastro_funcionario_editar" />
        <activity android:name=".activity.cadastro_agendamento_editar" />


        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>